{% set process_count = processes | default(16 * ansible_processor_vcpus) %}
{% set thread_count = threads | default(64) %}
{% set virtual_hosts = 1 %}

ServerLimit {{ virtual_hosts * process_count }}
MaxClients {{ virtual_hosts * process_count }}
StartServers {{ virtual_hosts * process_count }}
MinSpareServers {{ process_count }}
MaxSpareServers {{ process_count }}
MaxRequestWorkers {{ virtual_hosts * process_count * thread_count }}

<VirtualHost *:80>
    WSGIScriptAlias / /var/echo/echo.py
    WSGIDaemonProcess echo processes={{ process_count }} threads={{ thread_count }} display-name=echo
    WSGIProcessGroup echo

    ErrorLog /var/log/apache2/echo.error.log
    LogLevel info
    CustomLog /var/log/apache2/echo.access.log combined

    {% if apache24|success -%}

    <Directory /var/echo>
        Require all granted
    </Directory>

    {%- else -%}

    <Directory /var/echo>
        Order allow,deny
        Allow from all
    </Directory>

    {%- endif %}

</VirtualHost>
