<VirtualHost *:80>
    WSGIScriptAlias / /var/echo/echo.py
    WSGIDaemonProcess echo processes=3 threads=3 display-name=echo
    WSGIProcessGroup echo

    ErrorLog /var/log/apache2/echo.error.log
    LogLevel info
    CustomLog /var/log/apache2/echo.access.log combined

    <Directory /var/echo>
    {% if apache24|success %}
    Require all granted
    {% else %}
    Order allow,deny
        Allow from all
    {% endif %}</Directory>
</VirtualHost>
