Listen 5000
Listen 35357

<VirtualHost *:5000>
    WSGIScriptAlias / /var/keystone/main
    WSGIDaemonProcess keystone-main processes=3 threads=3 display-name=keystone-main
    WSGIProcessGroup keystone-main

    ErrorLog /var/log/apache2/keystone-main.error.log
    LogLevel info
    CustomLog /var/log/apache2/keystone-main.access.log combined

    <Directory /var/keystone>
        {% if apache24|success %}
            Require all granted
        {% else %}
            Order allow,deny
            Allow from all
        {% endif %}
    </Directory>
</VirtualHost>

<VirtualHost *:35357>
    WSGIScriptAlias / /var/keystone/admin
    WSGIDaemonProcess keystone-admin processes=3 threads=3 display-name=keystone-admin
    WSGIProcessGroup keystone-admin

    ErrorLog /var/log/apache2/keystone-admin.error.log
    LogLevel info
    CustomLog /var/log/apache2/keystone-admin.access.log combined

    <Directory /var/keystone>
        {% if apache24|success %}
            Require all granted
        {% else %}
            Order allow,deny
            Allow from all
        {% endif %}</Directory>
</VirtualHost>
