Listen 5000
Listen 35357

KeepAliveTimeout 0

<IfModule mpm_worker_module>
    StartServers          2
    MinSpareThreads      25
    MaxSpareThreads      75
    ThreadLimit          64
    ThreadsPerChild      25
    MaxClients          150
    MaxRequestsPerChild   0
</IfModule>

<VirtualHost *:5000>
    WSGIScriptAlias / /var/keystone/main
    WSGIDaemonProcess keystone-main processes={{ ansible_processor_vcpus }} threads={{ ansible_processor_vcpus }} display-name=keystone-main
    WSGIProcessGroup keystone-main

    ErrorLog /var/log/apache2/keystone-main.error.log
    LogLevel info
    CustomLog /var/log/apache2/keystone-main.access.log combined

    <Directory /var/keystone>
        {% if apache24|success %}
            Require all granted
        {% else %}
            Order allow,deny
            Allow from all
        {% endif %}
    </Directory>
</VirtualHost>

<VirtualHost *:35357>
    WSGIScriptAlias / /var/keystone/admin
    WSGIDaemonProcess keystone-admin processes={{ ansible_processor_vcpus }} threads={{ ansible_processor_vcpus }} display-name=keystone-admin
    WSGIProcessGroup keystone-admin

    ErrorLog /var/log/apache2/keystone-admin.error.log
    LogLevel info
    CustomLog /var/log/apache2/keystone-admin.access.log combined

    <Directory /var/keystone>
        {% if apache24|success %}
            Require all granted
        {% else %}
            Order allow,deny
            Allow from all
        {% endif %}</Directory>
</VirtualHost>
