[mysqld]
bind-address=0.0.0.0
default_storage_engine=InnoDB
binlog_format=ROW
innodb_autoinc_lock_mode=2

wsrep_on=ON
wsrep_provider=/usr/lib/galera/libgalera_smm.so
wsrep_provider_options="gcache.size=128M;gcache.page_size=32M;"
# wsrep_cluster_address="gcomm://{{ ','.join(groups['db']) }}"
wsrep_cluster_address="gcomm://{% for node in groups['db'] %}{{ hostvars[node]['ansible_default_ipv4']['address'] }}{% if not loop.last %},{% endif %}{% endfor %}"
wsrep_cluster_name="keystone"
wsrep_node_address="{{ ansible_default_ipv4["address"] }}"
wsrep_node_name="{{ ansible_hostname }}"
wsrep_sst_method=xtrabackup-v2
wsrep_sst_auth={{ wsrep_sst_username }}:{{ wsrep_sst_password }}
innodb_doublewrite=1
innodb_flush_log_at_trx_commit=0

# performance tuning
wsrep_slave_threads={{ ansible_processor_vcpus }}

# this should be the cluster's load balancer address
#wsrep_node_incoming_address="192.168.10.2"

# from digital ocean
query_cache_size=0
query_cache_type=0

max_connections={{ ansible_processor_cores * ansible_processor_vcpus }}
innodb_buffer_pool_size={{ (0.6 * ansible_memtotal_mb) | round | int }}MB
innodb_log_file_size={{ (0.2 * ansible_memtotal_mb) | round | int }}MB
