global
  chroot  /var/lib/haproxy
  daemon
  group  haproxy
  maxconn  4000
  pidfile  /var/run/haproxy.pid
  user  haproxy

defaults
  log  global
  maxconn  8000
  option  redispatch
  retries  3
  timeout  http-request 10s
  timeout  queue 1m
  timeout  connect 10s
  timeout  client 1m
  timeout  server 1m
  timeout  check 10s

listen {{app_name}}
  bind 0.0.0.0:3306
  balance {{balance_algorithm}}
  option  httpchk
{% for db in groups['db']%}
  server {{db}} {{db}}:{{listenport}}
{% endfor %}
