{% set process_count = processes | default(2 * ansible_processor_vcpus) %}
{% set thread_count = threads | default(1) %}
{% set virtual_hosts = 2 %}

ServerLimit {{ virtual_hosts * process_count }}

<IfModule mpm_event_module>
    StartServers {{ virtual_hosts * process_count }}
    MinSpareThreads {{ (thread_count / 2)|round|int }}
    MaxSpareThreads {{ thread_count }}
    ThreadLimit {{ thread_count }}
    ThreadsPerChild {{ thread_count }}
    MaxRequestWorkers {{ virtual_hosts * process_count * thread_count }}
    MaxConnectionsPerChild 0
</IfModule>

Listen 5000
Listen 35357

<VirtualHost *:5000>
    WSGIScriptAlias / /var/keystone/main
    WSGIDaemonProcess keystone-main processes={{ process_count }} threads={{ thread_count }} display-name=keystone-main
    WSGIProcessGroup keystone-main

    ErrorLog /var/log/apache2/keystone-main.error.log
    LogLevel info
    CustomLog /var/log/apache2/keystone-main.access.log combined

    {% if apache24|success -%}

    <Directory /var/keystone>
        Require all granted
    </Directory>

    {%- else -%}

    <Directory /var/keystone>
        Order allow,deny
        Allow from all
    </Directory>

    {%- endif %}

</VirtualHost>

<VirtualHost *:35357>
    WSGIScriptAlias / /var/keystone/admin
    WSGIDaemonProcess keystone-admin processes={{ process_count }} threads={{ thread_count }} display-name=keystone-admin
    WSGIProcessGroup keystone-admin

    ErrorLog /var/log/apache2/keystone-admin.error.log
    LogLevel info
    CustomLog /var/log/apache2/keystone-admin.access.log combined

    {% if apache24|success -%}

    <Directory /var/keystone>
        Require all granted
    </Directory>

    {%- else -%}

    <Directory /var/keystone>
        Order allow,deny
        Allow from all
    </Directory>

    {%- endif %}

</VirtualHost>
